/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <behaviors/mouse_move.dtsi>
#include <dt-bindings/zmk/mouse.h>
#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1500  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

#define DEF 0;
#define UPE 1;
#define MSC 2;
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC      &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                   &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp DELETE
                &kp CAPSLOCK &kp Q      &kp W      &kp E      &kp R      &kp T                    &kp Y      &kp U      &kp I      &kp O      &kp P      &kp RALT
                &kp LSHIFT   &kp A      &kp S      &kp D      &kp F      &kp G                    &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp RSHIFT
                &kp LCTRL    &kp Z      &kp X      &kp C      &kp V      &kp B                    &kp N      &kp M      &kp COMMA  &kp DOT    &kp SLASH  &kp RCTRL
                                                   &bt BT_CLR &kp TAB    &kp SPACE                &kp BKSP   &kp ENTER  &bt BT_SEL 1
            >;
        };
    };
};

 trackpad_peripheral_scroll_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&glidepoint>;
        layers = <QWERTY NAV MOUSE>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_WHEEL>;
        y-input-code = <INPUT_REL_MISC>;
        bindings = <&ib_wheel_scaler_x 1 8>;
   }; 

   trackpad_peripheral_scroll_snipe_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&glidepoint>;
        layers = <NUM SYS>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_WHEEL>;
        y-input-code = <INPUT_REL_MISC>;
        bindings = <&ib_wheel_scaler_x 1 16>;
   }; 