# Copyright (c) 2022 ZMK Contributors
# SPDX-License-Identifier: MIT
 
 
if SHIELD_ERGOVISION_LEFT

config ZMK_KEYBOARD_NAME
	default "ergovision_left"

endif

if SHIELD_ERGOVISION_RIGHT

config ZMK_KEYBOARD_NAME
	default "ErgoVision"

config ZMK_SPLIT_ROLE_CENTRAL
	default y
	
endif

if SHIELD_ERGOVISION_LEFT || SHIELD_ERGOVISION_RIGHT

config ZMK_SPLIT
	default y
config ZMK_BLE
    default y
endif