if SHIELD_MY_BOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "ergovision_left"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MY_BOARD_RIGHT

config ZMK_KEYBOARD_NAME
    default "ErgoVision"

config ZMK_SPLIT_ROLE_PERIPHERAL
    default y

endif
