# Copyright (c) 2022 ZMK Contributors
# SPDX-License-Identifier: MIT
if SHIELD_RGOVISION

config ZMK_KEYBOARD_NAME
    default "rgovision"


CONFIG_ZMK_MOUSE=y
CONFIG_ZMK_SLEEP=y
CONFIG_ZMK_IDLE_SLEEP_TIMEOUT=420000
CONFIG_I2C=y
CONFIG_ZMK_MOUSE=y
CONFIG_INPUT=y
CONFIG_INPUT_PINNACLE=y
endif 